.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apartments {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.buttons {
    position: fixed;
    background-color: rgb(166, 153, 136);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 550px;
    width: 300px;
    margin-left: 500px;
    border: 4px solid rgb(105, 97, 88);
    border-radius: 15px;
}

.buttons button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
}

.buttons button:hover {
    background-color: rgb(200, 191, 191);
}

.apart {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border: 5px solid black;
    border-top: 5px solid brown;
    border-bottom: 5px solid brown;
    z-index: -1;
}

.lifted {
    box-sizing: border-box;
    width: 50px;
    height: 86px;
    border: 3px solid black;
    margin: 60px auto;
    position: absolute;
    left: 133px;
}

.lift {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: rgb(155, 115, 40);
    border: 2px solid black;
    z-index: -2;
    left: 138px;
    top: 3124px;
    /* transition: 1s; */
}

.men {
    position: absolute;
    width: 64px;
    height: 64px;
    right: -15px;
    top: 15px;
}

.door {
    background-color: gray;
}

.first {
    left: 82px;
}
